In [151]:
import pandas as pd

import pickle

from collections import Counter

In [152]:
with open('/Users/donalddressen/Desktop/auction_data/extras_dict.pkl', 'rb') as f:
    extras_dict = pickle.load(f)

In [153]:
with open('/Users/donalddressen/Desktop/auction_data/auctions_df.pkl', 'rb') as f:
    auc_df = pickle.load(f)

In [154]:
item_ids = auc_df['item ID'].tolist()

In [155]:
# item_ids_test = item_ids[1000:1200]

item_ids_test = item_ids

In [156]:
len(item_ids_test)

4000

In [157]:
type(item_ids_test[0])

str

In [158]:
start_prices = []
reserves = []
reserve_mets = []
photo_nums = []
descriptions = []
years = []
makes = []
car_models = []
mileages = []
transmissions = []
vtitles = []
fuels = []
seller_types = []

In [159]:
for item_id in item_ids_test:
    
    try:
        start_prices.append(float(extras_dict[item_id]['Item']['StartPrice']['value']))
    except:
        start_prices.append(float(0))

In [160]:
for item_id in item_ids_test:
    
    try:
        reserves.append(extras_dict[item_id]['Item']['ListingDetails']['HasReservePrice'])
    except:
        reserves.append('NA')

In [161]:
for item_id in item_ids_test:

    try:
        reserve_mets.append(extras_dict[item_id]['Item']['SellingStatus']['ReserveMet'])
    except:
        reserve_mets.append('NA')

In [162]:
for item_id in item_ids_test:
    
    try:
        if type(extras_dict[item_id]['Item']['PictureDetails']['PictureURL']) == list:
            photo_nums.append(len(extras_dict[item_id]['Item']['PictureDetails']['PictureURL']))
        else:
            photo_nums.append(1)
    except:
        photo_nums.append(0)

In [163]:
for item_id in item_ids_test:
    
    try:
        descriptions.append(extras_dict[item_id]['Item']['Description'])
    except:
        descriptions.append('NA')

In [164]:
loop_counter = []

for item_id in item_ids_test:
    
    loop_counter.append(0)
    
    try:
        for item in extras_dict[item_id]['Item']['ItemSpecifics']['NameValueList']:
            if 'Year' in list(item.values()):
                years.append(int(list(item.values())[1]))
    
        if len(years) < len(loop_counter):
            years.append(0)
    
    except:
        years.append(0)

In [165]:
loop_counter = []

for item_id in item_ids_test:
    
    loop_counter.append(0)
    
    try:
        for item in extras_dict[item_id]['Item']['ItemSpecifics']['NameValueList']:
            if 'Make' in list(item.values()):
                makes.append(list(item.values())[1])
        
        if len(makes) < len(loop_counter):
            makes.append('NA')
            
    except:
        makes.append('NA')

In [166]:
loop_counter = []

for item_id in item_ids_test:
    
    loop_counter.append(0)
    
    try:
        for item in extras_dict[item_id]['Item']['ItemSpecifics']['NameValueList']:       
            if 'Model' in list(item.values()):
                car_models.append(list(item.values())[1])
        
        if len(car_models) < len(loop_counter):
            car_models.append('NA')
    
    except:
        car_models.append('NA')

In [167]:
loop_counter = []

for item_id in item_ids_test:
    
    loop_counter.append(0)
    
    try:
        for item in extras_dict[item_id]['Item']['ItemSpecifics']['NameValueList']:        
            if 'Mileage' in list(item.values()):
                mileages.append(int(list(item.values())[1]))
        
        if len(mileages) < len(loop_counter):
            mileages.append(-1)
            
    except:
        mileages.append(-1)

In [168]:
loop_counter = []

for item_id in item_ids_test:
    
    loop_counter.append(0)
    
    try:
        for item in extras_dict[item_id]['Item']['ItemSpecifics']['NameValueList']:        
            if 'Transmission' in list(item.values()):
                transmissions.append(list(item.values())[1])
        
        if len(transmissions) < len(loop_counter):
            transmissions.append('NA')
        
    except:
        transmissions.append('NA')

In [169]:
loop_counter = []

for item_id in item_ids_test:
    
    loop_counter.append(0)
    
    try:
        for item in extras_dict[item_id]['Item']['ItemSpecifics']['NameValueList']:        
            if 'Vehicle Title' in list(item.values()):
                vtitles.append(list(item.values())[1])
        
        if len(vtitles) < len(loop_counter):
            vtitles.append('NA')
        
    except:
        vtitles.append('NA')

In [170]:
loop_counter = []

for item_id in item_ids_test:
    
    loop_counter.append(0)
    
    try:
        for item in extras_dict[item_id]['Item']['ItemSpecifics']['NameValueList']:        
            if 'Fuel Type' in list(item.values()):
                fuels.append(list(item.values())[1])
        
        if len(fuels) < len(loop_counter):
            fuels.append('NA')
            
    except:
        fuels.append('NA')

In [171]:
loop_counter = []

for item_id in item_ids_test:
    
    loop_counter.append(0)
    
    try:
        for item in extras_dict[item_id]['Item']['ItemSpecifics']['NameValueList']:        
            if 'For Sale By' in list(item.values()):
                seller_types.append(list(item.values())[1])
        
        if len(seller_types) < len(loop_counter):
            seller_types.append('NA')
            
    except:
        seller_types.append('NA')

In [172]:
len(vtitles)

4000

In [173]:
auc_df2 = pd.DataFrame(
    {'start price': start_prices,
     'reserve': reserves,
     'reserve met': reserve_mets,
     'photo number': photo_nums,
     'description': descriptions,
     'year': years,
     'make': makes,
     'car model': car_models,
     'mileage': mileages,
     'transmission': transmissions,
     'vehicle title': vtitles,
     'fuel': fuels,
     'seller type': seller_types
    })

In [174]:
auc_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
car model        4000 non-null object
description      3997 non-null object
fuel             4000 non-null object
make             4000 non-null object
mileage          4000 non-null int64
photo number     4000 non-null int64
reserve          4000 non-null object
reserve met      4000 non-null object
seller type      4000 non-null object
start price      4000 non-null float64
transmission     4000 non-null object
vehicle title    4000 non-null object
year             4000 non-null int64
dtypes: float64(1), int64(3), object(9)
memory usage: 406.3+ KB

In [175]:
auc_df_final = pd.concat([auc_df,auc_df2], axis=1)

In [176]:
auc_df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 34 columns):
auction start time           4000 non-null object
autopays                     4000 non-null object
best offer                   4000 non-null object
bid count                    4000 non-null int64
category ID                  4000 non-null object
category name                4000 non-null object
condition ID                 4000 non-null object
end price                    4000 non-null float64
item ID                      4000 non-null object
item url                     4000 non-null object
missing pic                  4000 non-null int64
number of payment methods    4000 non-null int64
pic url                      4000 non-null object
postal code                  4000 non-null int64
seller percent               4000 non-null float64
seller score                 4000 non-null int64
seller star                  4000 non-null object
selling state                4000 non-null object
shipping type                4000 non-null object
title                        4000 non-null object
top rated                    4000 non-null object
car model                    4000 non-null object
description                  3997 non-null object
fuel                         4000 non-null object
make                         4000 non-null object
mileage                      4000 non-null int64
photo number                 4000 non-null int64
reserve                      4000 non-null object
reserve met                  4000 non-null object
seller type                  4000 non-null object
start price                  4000 non-null float64
transmission                 4000 non-null object
vehicle title                4000 non-null object
year                         4000 non-null int64
dtypes: float64(3), int64(8), object(23)
memory usage: 1.0+ MB

In [177]:
auc_df_final.head()

,auction start time,autopays,best offer,bid count,category ID,category name,condition ID,end price,item ID,item url,...,make,mileage,photo number,reserve,reserve met,seller type,start price,transmission,vehicle title,year
0,2018-01-24T17:29:44.000Z,false,false,0,6169,Impala,3000,4500.00,292422409930,http://cgi.ebay.com/ebaymotors/2012-Chevrolet-...,...,Chevrolet,82254,24,false,true,Dealer,4500.0,Automatic,Clear,2012
1,2018-01-20T05:27:12.000Z,false,false,4,31851,Town Car,3000,710.01,132476159742,http://cgi.ebay.com/ebaymotors/1995-Lincoln-To...,...,Lincoln,140650,5,true,false,Private Seller,500.0,Automatic,Clear,1995
2,2018-01-17T17:25:39.000Z,false,false,13,180070,Other,3000,1035.00,232633871924,http://cgi.ebay.com/ebaymotors/1992-Geo-Prizm-...,...,Geo,52789,14,true,false,NA,300.0,Automatic,Clear,1992
3,2018-01-20T17:06:38.000Z,false,false,0,6169,Impala,3000,7500.00,192433171533,http://cgi.ebay.com/ebaymotors/1966-Chevrolet-...,...,Chevrolet,999999,4,true,false,NA,7500.0,NA,Clear,1966
4,2018-01-19T17:20:10.000Z,false,false,21,6055,Other,3000,515.00,273032516199,http://cgi.ebay.com/ebaymotors/1985-Audi-Other...,...,Audi,180350,13,false,true,Private Seller,300.0,Manual,Clear,1985

In [178]:
auc_df_final['item url'][0]

'http://cgi.ebay.com/ebaymotors/2012-Chevrolet-Impala-Police-Interceptor-9C1-Cruiser-4D-Sedan-HD-/292422409930'

In [179]:
with open('/Users/donalddressen/Desktop/auction_data/auctions_df_final.pkl', 'wb') as f:
    pickle.dump(auc_df_final, f)